

<div class="container">
  <form id="search_form">
    <input type="text" name="search">
    <input type="submit">
  </form>
</div>

<!-- <div class="container">

  <table id="cities">
    <tr>
      <td>Cities</td>
    </tr>
    <tbody class="table_body">
    </tbody>
  </table>
</div>
 -->
<div>
  <ul id="list">
    <li>

    </li>
  </ul>
</div>

<div>
  <ul id="forecast">
    <li></li>
  </ul>
</div>